<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Ordem de Serviços</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--===============================================================================================-->



</head>
<body>
    
	<div>
        <ul class="navbar">
          <img id="logo" src="../public/images/logo.png">
            <li><a id="navegacao" href="../login/login.html"><span class="material-icons">logout</span></a></li>
        </ul>
  </div>
    
    

    <div id="lista">
        <div>
          
          <span id="icone-pesquisa" class="material-icons">search</span>
            <input id="pesquisar" type="text" placeholder="Pesquisar" />
            

          <div id="busca">
          </div>
            <table id="tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login de Usuário</th>
                        <th>E-mail</th>
                        <th>Data Cadastro</th>
                        <th></th>
                        <th></th>
                      </tr>
                </thead>
               <tbody>
                    <tr>
                        <td>Vinícius da Silva</td>
                        <td>vinisilva</td>
                        <td>vinicius.silva@email.com</td>
                        <td>18/10/2021</td>
                        <td><span class="material-icons">edit</span></td>
                        <td><span class="material-icons">delete</span></td>
                    </tr>
                    <tr>
                        <td>Vinícius da Silva</td>
                        <td>vinisilva</td>
                        <td>vinicius.silva@email.com</td>
                        <td>18/10/2021</td>
                        <td><span class="material-icons">edit</span></td>
                        <td><span class="material-icons">delete</span></td>
                    </tr>
                    <tr>
                        <td>Vinícius da Silva</td>
                        <td>vinisilva</td>
                        <td>vinicius.silva@email.com</td>
                        <td>18/10/2021</td>
                        <td><span class="material-icons">edit</span></td>
                        <td><span class="material-icons">delete</span></td>
                    </tr>
                    <tr>
                        <td>Vinícius da Silva</td>
                        <td>vinisilva</td>
                        <td>vinicius.silva@email.com</td>
                        <td>18/10/2021</td>
                        <td><span class="material-icons">edit</span></td>
                        <td><span class="material-icons">delete</span></td>
                    </tr>
               </tbody>
              </table>
        </div>
    </div>

    
    <div class="barra" >
      <ul>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../ordemServico/ordemdeservico.html">Ordem de Serviço</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../servicos/servico.html">Serviços</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../usuarios/usuario.html">Usuários</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../produtos/produto.html">Produtos</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../clientes/cliente.html">Clientes</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="#">Relatórios</a>
        </li>
      </ul>
    </div>

      <a href="cadastrousuario.html" class="float">
        <i id="add-button" class="material-icons">add</i>
      </a>
	
</body>
</html>