<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Cadastro de Ordem de Serviços</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--===============================================================================================-->



</head>
<body>
    
	<div>
        <ul class="navbar">
          <img id="logo" src="images/logo.png">
            <li><a id="navegacao" href="#sair"><span class="material-icons">logout</span></a></li>
        </ul>
    </div>
    
    

    <div id="lista-cadastro">

      <h3>Nova Ordem de Serviço</h3>

      <div id="busca">
      </div>

      <div class="label-float">
      <input type="text" placeholder=" " required/>
      <label>Cliente</label>
      </div>

      <datalist id="lista-dados">
        <option> teste1</option>
        <option> teste2</option>
        <option> teste3</option>
        <option> teste4</option>
      </datalist>
    
      <div class="label-float">
      <input type="date" placeholder=" " required/>
      <label>Data da Entrada</label>
      </div>

      <div class="label-float">
      <input type="text" placeholder=" " required/>
      <label>Equipamento do Cliente</label>
      </div>

      <div class="label-float">
      <input type="text" placeholder=" " required/>
      <label>Relato do Cliente</label>
      </div>

      <div class="label-float">
        <input list="lista-servicos" type="text" placeholder=" " required/>
        <label>Selecione um Serviço</label>
      </div>

      <datalist id="lista-servicos">
        <option>Formatação</option>
        <option>Manutenção em hardware</option>
        <option>Teste</option>
      </datalist>

      <div class="label-float">
        <input list="lista-produtos" type="text" placeholder=" " required/>
        <label>Selecione um Produto</label>
      </div>

      <datalist id="lista-produtos">
        <option>Teclado</option>
        <option>Mouse</option>
        <option>Memória DDR3</option>
        <option>Pendrive</option>
        <option>Teste</option>
      </datalist>

      <div class="label-float">
        <input type="number"  placeholder=" " required/>
        <label>Valor</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Telefone do Cliente</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" "/>
        <label>Observações do Técnico</label>
      </div>

      <div class="label-float">
        <input type="date" placeholder=" " required/>
        <label>Data da Entrega</label>
      </div>

      <div class="label-float">
        <input list="lista-status" type="text" placeholder=" " required/>
        <label>Selecione um Status</label>
      </div>

      <datalist id="lista-status">
        <option>Em análise</option>
        <option>Orçamento enviado</option>
        <option>Orçamento aprovado</option>
        <option>Cancelado</option>
        <option>Em andamento</option>
        <option>Pronto para entrega</option>
        <option>Entregue</option>
      </datalist>

      <div class="label-float">
        <input list="lista-pagamento" type="text" placeholder=" " required/>
        <label>Selecione uma Forma de Pagamento</label>
      </div>

      <datalist id="lista-pagamento">
        <option>Dinheiro</option>
        <option>Cartão de Crédito</option>
        <option>Cartão de Débito</option>
        <option>Pix</option>
      </datalist>

      <div class="botoes">
        <button class="botao-cancelar">
          Cancelar
        </button>

        <button class="botao-cadastrar">
          Cadastrar
        </button>
      </div>

    </div>

    
    <div class="barra" >
        <ul>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Ordem de Serviço</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Serviços</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Usuários</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Produtos</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Relatórios</a>
          </li>
        </ul>
      </div>

      
	
</body>
</html>