<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Ordem de Serviços</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/styles.css">
<!--===============================================================================================-->



</head>
<body>
    
	<div>
        <ul class="navbar">
            <li><a id="navegacao" href="#sair">Sair</a></li>
        </ul>
    </div>
    
      

    <div id="lista">
        <div>
            <input type="text" name="input" value="nome" >
            <form id="frmDate">
                <label for="data">Selecione uma data:</label>
                <input type="date" id="data" name="data">
        </form>
        <h2 id="resultado"></h2>
               
        </div>
    </div>

    
    <div class="barra" >
        <ul>
          <li class="nav-item" >
            <a id="cor" class="nav-link" href="#">Ordem de Serviço</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Serviços</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Usuários</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Produtos</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a id="cor" class="nav-link" href="#">Relatórios</a>
          </li>
        </ul>
      </div>

	
</body>
</html>