<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Cadastro de Ordem de Serviços</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="cliente.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--===============================================================================================-->



</head>
<body>
    
	<div>
        <ul class="navbar">
          <img id="logo" src="../public/images/logo.png">
            <li><a id="navegacao" href="../login/login.html"><span class="material-icons">logout</span></a></li>
        </ul>
    </div>
    
    

    <div id="lista-cadastro-cliente">

      <h3>Novo Cliente</h3>

      <div id="busca">
      </div>

      <div class="label-float">
        <input list="lista-tipopessoa" type="text" placeholder=" " required/>
        <label>Selecione o tipo Pessoa</label>
      </div>

      <datalist id="lista-tipopessoa">
        <option>Pessoa Física</option>
        <option>Pessoa Jurídica</option>
      </datalist>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Nome / Razão Social</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>CPF / CNPJ</label>
      </div>

      <div class="label-float">
        <input type="date" placeholder=" " required/>
        <label>Data Nascimento / Data Abertura</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Telefone</label>
      </div>

      <div class="label-float">
        <input type="email" placeholder=" " required/>
        <label>E-mail</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>CEP</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Rua/Avenida</label>
      </div>

      <div class="label-float">
        <input type="number" placeholder=" " required/>
        <label>Número</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Complemento</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Bairro</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Cidade</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Estado</label>
      </div>

      <div class="label-float">
        <input type="text" placeholder=" " required/>
        <label>Observação do Cliente</label>
      </div>

      <div class="botoes">
        <button class="botao-cancelar">
          Cancelar
        </button>

        <button class="botao-cadastrar">
          Cadastrar
        </button>
      </div>

    </div>

    
    <div class="barra" >
      <ul>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../ordemServico/ordemdeservico.html">Ordem de Serviço</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../servicos/servico.html">Serviços</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../usuarios/usuario.html">Usuários</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../produtos/produto.html">Produtos</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="../clientes/cliente.html">Clientes</a>
        </li>
        <li class="nav-item">
          <a id="cor" class="nav-link" href="#">Relatórios</a>
        </li>
      </ul>
    </div>

      
	
</body>
</html>