#lista-cadastro-cliente {
    margin-top: 160px;
    width: 970px;
    height: 850px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -3px -5px 6px #00000024;
    border-radius: 15px;
    opacity: 1;
    float: right;
  }